@model SafariBooks.Models.Coupons

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Coupons</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CouponsID)

        <div class="form-group">
            @Html.LabelFor(model => model.CouponTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CouponTypes)
                @Html.ValidationMessageFor(model => model.CouponTypes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PromotionDetails)
                @Html.ValidationMessageFor(model => model.PromotionDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Couponvalue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Couponvalue)
                @Html.ValidationMessageFor(model => model.Couponvalue)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
